[submodule "system_files/etc/skel/.config/ohmyzsh-custom/plugins/zsh-completions"]
	path = system_files/etc/skel/.config/ohmyzsh-custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "system_files/etc/skel/.config/ohmyzsh-custom/plugins/zsh-autosuggestions"]
	path = system_files/etc/skel/.config/ohmyzsh-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
