[Unit]
Description=Install or update Doom Emacs
After=graphical-session.target

[Service]
ExecStart=/usr/libexec/doom-update.sh
Type=oneshot
RemainAfterExit=false

[Install]
WantedBy=graphical-session.target
