[Unit]
Description=Sync Doom Emacs packages
After=graphical-session.target

[Service]
ExecStart=/usr/libexec/doom-update.sh
Type=oneshot
RemainAfterExit=false

[Install]
WantedBy=graphical-session.target
